body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff7e6; /* 背景を淡い暖色に設定 */
    color: #333; /* テキストの色をダークグレーに設定 */
}

header {
    background-color: #f0a500; /* 暖色系のヘッダー背景色 */
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f08a00;
}

p {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em;
}

/* 使い方セクションのスタイル */
.usage-section {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

ul {
    padding-left: 2em; /* インデントを追加 */
    list-style-type: disc; /* デフォルトの箇条書きスタイル */
    margin-top: 0;
    font-size: 1.1em; /* フォントサイズを調整 */
}

ul li {
    margin-bottom: 10px;
    line-height: 1.6; /* 行間を広げて読みやすく */
}

#ur {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#ur a {
    text-decoration: none;
    background-color: #f08a00; /* ボタンの色をヘッダーに合わせて暖色に設定 */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#ur a:hover {
    background-color: #d97a00; /* ボタンのホバー効果 */
}

@media (max-width: 768px) {
    iframe {
        width: 90%;
        height: 400px;
    }
}
